.wrapper {
  width: 300px;
  margin: 0 auto;
  text-align: center;
  //display: flex;
  //justify-content: center;

  header {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
  }

}
