
.modal {
  /*animation: showModal 3s ease-out;*/
  border: 5px solid #000;
  margin: auto;
  position: fixed;
  max-width: 340px;
  width: 100%;
  /*background-color: #eae7e7;*/
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: fit-content;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background-color: white;
}

.modalWrapper {
  top: 0;
  bottom: 0;
  background-color: rgba(189, 188, 188, 0.5);

  position: fixed;
  width: 100%;
  height: 100%;
  /*z-index: 999;*/
}

.modalButtons {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 1rem;

  button {
    width: auto;
    padding: 0 30px
  }
}
