
.wrapper {
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  background-color: rgba(185, 185, 185, 0.4);
}


.navigation {
  width: 100%;
  display: flex;
  justify-content: center;

  ul {
    width: 70%;
    display: flex;
    justify-content: space-around;
  }
}

.outletWrapper {
  width: 100%;
  height: 100%;
  padding: 30px;
  background-color: rgba(218, 218, 218, 0.4);
  overflow: auto;
}
