.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.btnReset {
  width: 150px;
  align-self: center;
  background-color: chocolate;
  border: none;
}
