
.todo {
  li {
    text-align: start;
    list-style-type: none;
    white-space: nowrap;
    font-size: 16px;
  }
}

.form {
  margin: 0;
  text-align: left;
}

.listWrapper {
  width: 500px;
  text-align: left;
}

.inlineButton {
  display: inline-block;
  width: auto;
  padding: 0 10px;
}

.deleteBtn {
  color: #b0001f;
  &:hover {
    color: #ed0028;
  }
}

.checkmarkIcon {
  color: #53b047;
}
